@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    z-index: 6;
}
.bg-menu {
    z-index: 4;
    background-color: rgb(180, 168, 0);
    background-image: url("../img/bgMenu.webp");
    background-repeat: repeat;
    height: 53px;
}
.bg-menu ul {
    display: flex;
    justify-content: end;
}

.bg-incio {
    background-image: url("../img/textura.webp");
    background-repeat: repeat;
}

.title-family {
    font-family: "Pacifico", cursive;
    background: rgb(36,0,0);
    background: linear-gradient(90deg, rgb(196, 22, 22) 0%, rgb(206, 11, 196) 50%, rgb(231, 216, 9) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 8px 5px 3px #fff;
}
.h-100vh{
    height: 100vh;
}
.contenedorLogin {
    z-index: 5;
    overflow-y: auto;
}

.hover-nav {
    color: #fff;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .5s;
}

.hover-nav:hover, .hover-nav:focus {
    background-size: 100% 2px;
}
.h-img{
    height: 91.8%;
}

.h-img-entradas {
    height: 60vh;
    object-fit: fill;
}
.h-img-bebidas {
    height: 75vh;
    object-fit: fill;
}
.menu-icon img {
    width: 40px;
    height: 40px;
    border-radius: 2px;
}

.menu-icon, #check {
    display: none;
}
.cursor-p {
    cursor: pointer;
}

.carritoDeCompras {
    display: none;
    position: fixed;
    top: 100;
}
#contadorCarrito {
    position: absolute;
    left: 40%;
    top: -10%;
    background-color: rgb(15, 195, 226);
    width: 29px;
    border-radius: 50%;
    padding-bottom: 5px;
}

#contenedorCarrito {
    height: 300px;
    padding: 10px;
    overflow-y: scroll;
}
.iconCarrito {
    position: relative;
    top: -5px;
}
.h-img-carrito {
    width: 60px;
    height: 80px;
}

#toggleCarrito:checked ~ .carritoDeCompras {
    background: #000;
    display: block;
    min-height: 200px;
    overflow-y: scroll;
    position: fixed;
    top: 100;
    left: 0;
}
.position-carrito {
    display: block;
    position: fixed;
    top: 80px;
    left: 0;
    z-index: 3;
}


@media (max-width: 750px){
    .menu ul {
        display: none;
        background-image: url("../img/bgMenu.webp");
        background-repeat: repeat;
    }
    .menu ul li a{
        text-align: center;
        display: block;
        font-size: 23px;
        line-height: 50px;
    }

    .menu-icon{
        display: block;
        padding: 5px;
    }

    #check:checked ~ ul{
        display: block;
        animation: moverMenu .6s ease;
        position: relative;
    }
    @keyframes moverMenu {
        0%{
            transform: translateY(-200px);
        }
        100% {
            transform: translate(auto);
        }
    }

    .inputBusqueda {
        width: 100%;
    }

    #contenedorCarrito {
        position: relative;
        max-height: 90vh;
        min-width: 50vw;
        max-width: 100vw;
        overflow-y: scroll;
        padding: 15px;
        z-index: 2;
    }
    

}


