* {
    box-sizing: border-box;
}

.text-link {
    font-size: 1.7rem;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .4s;
    text-align: center;
    display: block;
}
.text-link:hover {
    color: #fff;
    background-size: 100% 2px;
}

.navbar {
    z-index: 6;
    top: 0;
    left: 0;
    background-color: rgb(87, 182, 189);
}